/*cc
#Update #hrref #txtback::after{
	content:'UI update is available. You can download it through Web Linker. Updated on 28.09.2024';
}
#Update #hrref2 #txtback::after{
	content:'This is the Latest Version.';
}
#udv2u1-16824::after{
content:'No Updates';
}

.ccudheadh::after{
  content:'Updated on 28th September 2024';
}
.ccudpp::after{
  content:'UI updated.';
}
#ccv .ccudhead #udappdot{display:block;}
#ccupd{background:#c11;}*/


/*#v2u1-16824{background:#f33; color:#fff;}*/
/*
.ontudheadh::after{
  content:'Updated on 20th November 2024';
}
.ontudpp::after{
  content:'Launch of New Version with a lot of new features!';
}
#ontupd{background:#c11;}

#webname .ontudot{display:block;}*/


/*.ocudheadh::after{
  content:'Updated on 15th October 2024';
}
.ocudpp::after{
  content:'Some software updates has been done';
}
#ocupd{background:#c11;}

#webname .ocudot{display:block;}


.ascudheadh::after{
  content:'Updated on 15th October 2024';
}
.ascudpp::after{
  content:'New version has been launched.';
}
#ascupd{background:#c11;}

#webname .ascudot{display:block;}*/

/*wl*/
.wlrate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.wlversion::after{
	content:' V2 - WL';
	float:left;
	font-size:18px;
}
.wlsize::after{
	content:' 4.56MB';
	float:left;
	font-size:18px;
}

/*ofp*/
.ofprate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.ofpversion::after{
	content:' V2-OFP-30-07-2024';
	float:left;
	font-size:18px;
}
.ofpsize::after{
	content:' 6.29MB';
	float:left;
	font-size:18px;
}

/*oc*/
.ocrate::after{
	content:' 4 ';
	float:left;
	font-size:18px;
}
.ocversion::after{
	content:' V6 01.06.2024';
	float:left;
	font-size:18px;
}
.ocsize::after{
	content:' 6.69MB';
	float:left;
	font-size:18px;
}

/*asc*/
.ascrate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.ascversion::after{
	content:' V3 6-10-2024';
	float:left;
	font-size:18px;
}
.ascsize::after{
	content:' 872KB';
	float:left;
	font-size:18px;
}

/*yt*/
.ytrate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.ytversion::after{
	content:' V2 15-6-2023';
	float:left;
	font-size:18px;
}
.ytsize::after{
	content:' 256KB';
	float:left;
	font-size:18px;
}


/*cc*/
.ccrate::after{
	content:' 4 ';
	float:left;
	font-size:18px;
}
.ccversion::after{
	content:' V3.5-05-16-2024';
	float:left;
	font-size:18px;
}
.ccsize::after{
	content:' 3.22MB';
	float:left;
	font-size:18px;
}


/*ont*/
.ontrate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.ontversion::after{
	content:' V2 20.11.2024';
	float:left;
	font-size:18px;
}
.ontsize::after{
	content:' 30.9 MB';
	float:left;
	font-size:18px;
}


/*onno*/
.onnorate::after{
	content:' 5 ';
	float:left;
	font-size:18px;
}
.onnoversion::after{
	content:' V1 20.11.2024';
	float:left;
	font-size:18px;
}
