#ytupd{background:#c11;}
#udv2u1-16824::after{
content:'Updates not available ';
}
/*#v2u1-16824{background:#f33; color:#fff;}*/

.ytudheadh::after{
  content:'Updated on 12th August 2024';
}
.ytudpp::after{
  content:'Some software changes has been made';
}
